<DOCTYPE! html>
<table>
  <th>Landmarks</th>
  <th>Year Completed</th>
  <tr>

    <% @landmarks.each do |landmark| %>
      <td align="center"><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
      </td>
      <td align="center"><%=landmark.year_completed%>
      </td> </tr>

  <% end %>
</table>
<br>
<a class="button" href="/">Go Home</a>
</html>
